body {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
    overflow-y: hidden;
    background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: auto;
  }
  
  .containers {
    display: flex;
  }
  
  .container1 {
    display: flex;
    flex-direction: row;
  }
  .container2 {
    display: flex;
    flex-direction: row;
  }
  
  .container3 {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(255, 255, 255);
    float: right;
    margin: 219px 146px 38px 31px;
    width: 100%;
    max-width: 600px;
    background: rgba(0, 0, 0, 0.65);
    box-shadow: 0px 34px 101px rgba(9, 0, 63, 0.38);
    border-radius: 24px;
  }
  
  .check {
    font-size: 61px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 100;
    color: #ffffff;
    margin: 21px 2px 2px 10px;
  }
  
  .city {
    font-size: 72px;
    font-family: plus;
    font-style: normal;
    font-weight: 100;
    color: #ffffff;
    margin: -2px 2px 2px 74px;
  }
  
  .boxe4 {
    background: rgba(31, 46, 84, 0.45);
    padding: 2em;
    border-radius: 30px;
    box-shadow: 0px 34px 101px rgb(9 0 63 / 38%);
    width: 100%;
    max-width: 420px;
    margin: 10em;
  }
  
  .image {
    width: 207px;
    height: 206.32px;
    margin: -16px 0px 1px -59px;
    padding: 1px 4px 3px 22px;
    color: #ffffff;
  }
  h1 {
    font-size: 45px;
    margin: -147px 11px 75px 171px;
    font-family: "Plus Jakarta Sans";
    font-weight: 700;
    font-style: normal;
    text-transform: capitalize;
    background: linear-gradient( 180deg, #c1cfdb 54.68%, rgba(255, 255, 255, 0) 187.46% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    transform: rotate(-0.07deg);
  }
  
  h2 {
    font-size: 26px;
    margin: -69px 8px 0px 170px;
    font-family: "Plus Jakarta Sans";
    font-weight: 600;
    font-style: normal;
    text-transform: capitalize;
    color: #e0ebf4;
    transform: rotate(-0.07deg);
  }
  
  input {
    height: 26px;
    width: 231px;
    margin: 6px 1px 1px 5px;
  }
  .location {
    height: 51px;
    width: 57px;
    margin: 18px -2px -65px 19px;
  }

  .warning{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 23px;
    color: yellow;
    font-family: Roboto;
  }
  
  .input4 {
    position: relative;
    background: rgba(31, 46, 84, 0.45);
    box-shadow: 0px 34px 101px rgba(9, 0, 63, 0.38);
    transform: rotate(-0.07deg);
    color: #ffffff;
    font-size: 22px;
    font-family: Roboto;
    border-radius: 5px;
    padding: 3px;
  }
  
  .submit {
    width: 22px;
    height: 20px;
    color: #ffffff;
  }
  
  button {
    position: relative;
    display: flex;
    width: 34px;
    height: 30px;
    padding: 3px 0px 1px 1px;
    margin: -35px 0px 0px 208px;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    border: none;
    background: rgba(147, 141, 141, 0.65);
  }
  
  .btn4:hover {
    background: rgba(31, 46, 84, 0.45);
    box-shadow: 0px 34px 101px rgba(9, 0, 63, 0.38);
  }
  
  .icon {
    width: 23px;
    height: 21px;
  }
  
  .details {
    display: flex;
    flex-direction: row;
    gap: 15px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 17px;
  }
  
  .details1 {
    display: flex;
    flex-direction: row;
    gap: 15px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 17px;
  }
  .details2 {
    display: flex;
    flex-direction: row;
   gap: 15px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 17px;
  }
  .hide.it {
    visibility: hidden;
    max-height: 20px;
  }
  .container3.located {
    visibility: hidden;
    max-height: 20px;
  }
  
  .box5 {
    display: flex;
    flex-direction: column;
    gap: 27px;
    margin-top: 39px;
    margin-left: 11px;
  }
  
  @media screen and (max-width:1138px) {
.container3 {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(255, 255, 255);
    float: right;
    margin-top: 80px;
    margin-right: 232px;
    width: 100%;
    max-width: 600px;
    background: rgba(0, 0, 0, 0.65);
    box-shadow: 0px 34px 101px rgba(9, 0, 63, 0.38);
    border-radius: 24px;
}

.boxe4 {
  margin: 296px 3px 3px 386px;
  background: rgba(31, 46, 84, 0.45);
  padding: 2em;
  border-radius: 30px;
  box-shadow: 0px 34px 101px rgb(9 0 63 / 38%);
  width: 100%;
  max-width: 420px;
}



    }

    @media screen and (max-width:902px) {

      .container3 {
        display: flex;
        flex-direction: column;
        border: 2px solid rgb(255, 255, 255);
        float: right;
        margin: 57px 137px 20px -21px;
        width: 100%;
        max-width: 600px;
        background: rgba(0, 0, 0, 0.65);
        box-shadow: 0px 34px 101px rgba(9, 0, 63, 0.38);
        border-radius: 24px;
    }


    .boxe4 {
      margin: 287px 3px 3px 213px;
      background: rgba(31, 46, 84, 0.45);
      padding: 2em;
      border-radius: 30px;
      box-shadow: 0px 34px 101px rgb(9 0 63 / 38%);
      width: 100%;
      max-width: 420px;
  }

    }

    @media screen and (max-width:558px) {

      .container3 {
        display: flex;
        flex-direction: column;
        border: 2px solid rgb(255, 255, 255);
        float: right;
        margin: 84px 51px 9px 2px;
        width: 100%;
        max-width: 365px;
        background: rgba(0, 0, 0, 0.65);
        box-shadow: 0px 34px 101px rgba(9, 0, 63, 0.38);
        border-radius: 24px;
    }

    
    .boxe4 {
      margin: 264px 3px 3px 41px;
      background: rgba(31, 46, 84, 0.45);
      padding: 2em;
      border-radius: 30px;
      box-shadow: 0px 34px 101px rgb(9 0 63 / 38%);
      width: 100%;
      max-width: 420px;
  }

  .check {
    font-size: 33px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 100;
    color: #ffffff;
    margin: 21px 2px 2px 10px;
}

.city {
  font-size: 51px;
  font-family: plus;
  font-style: normal;
  font-weight: 100;
  color: #ffffff;
  margin: -2px 2px 2px 74px;
}

.location {
  height: 37px;
  width: 48px;
  margin: 18px -2px -46px 27px;
}

    }

    @media screen and (max-width:430px) {
      .boxe4 {
        margin: 172px 3px 3px 1px;
        background: rgba(31, 46, 84, 0.45);
        padding: 2em;
        border-radius: 30px;
        box-shadow: 0px 34px 101px rgb(9 0 63 / 38%);
        width: 100%;
        max-width: 420px;
    }

    .container3 {
      display: flex;
      flex-direction: column;
      border: 2px solid rgb(255, 255, 255);
      float: right;
      margin: 34px 15px 4px 2px;
      width: 93%;
      max-width: 365px;
      background: rgba(0, 0, 0, 0.65);
      box-shadow: 0px 34px 101px rgba(9, 0, 63, 0.38);
      border-radius: 24px;
    }

    .check {
      font-size: 30px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 100;
      color: #ffffff;
      margin: 21px 2px 2px 10px;
  }

  .city {
    font-size: 44px;
    font-family: plus;
    font-style: normal;
    font-weight: 100;
    color: #ffffff;
    margin: -2px 2px 2px 74px;
}

.image {
  width: 164px;
  height: 190.32px;
  margin: -26px 0px 6px -77px;
  padding: 0px 14px 7px 30px;
  color: #ffffff;
}

h1 {
  font-size: 32px;
  margin: -135px 11px 75px 103px;
  font-family: "Plus Jakarta Sans";
  font-weight: 700;
  font-style: normal;
  text-transform: capitalize;
  background: linear-gradient( 180deg, #c1cfdb 54.68%, rgba(255, 255, 255, 0) 187.46% );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  transform: rotate(-0.07deg);
}

h2 {
  font-size: 26px;
  margin: -70px 8px 0px 130px;
  font-family: "Plus Jakarta Sans";
  font-weight: 600;
  font-style: normal;
  text-transform: capitalize;
  color: #e0ebf4;
  transform: rotate(-0.07deg);
}

}
